/**
 * Weapon Content Component Styles
 * 
 * @package Genpedia
 * @author franzxml
 */

.weapon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 128px);
    padding: 40px 20px;
    margin-bottom: 64px;
}