<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    
    # Block access to directories without index files
    Options -Indexes

    # Allow access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Route everything else to index.php
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>