/*
 * Module: Hero Layout
 * Description: Main container structure for the Hero section.
 */

.hero-section {
    background-color: var(--bg-panel);
    border-radius: 28px;
    margin-top: 5px; /* Mobile margin */
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

/* Desktop Layout */
@media (min-width: 900px) {
    .hero-section {
        flex-direction: row;
        text-align: left;
        min-height: 350px;
        margin-top: 40px;
    }
}